*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
}
#main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right top, #4b1a82, #9203aa);
    border-bottom: 2px solid #4B1A82;
    height: 60px;
}
#search{
    display: flex;
    flex-direction: row;
}
#search-bar{
    padding-left: 5px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 40vw;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
#btn-search, #search-bar{
    height: 30px;
}
#btn-search{
    background-color: #4B1A82;
}
#title{
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 36px;
}
#options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30vw;
    height: 30px;
    border: 1px solid #D9E3EB;
    background: #F0F7FC;
}
a{
    text-decoration: none;
}
#options a {
    color: #1B232C;
}
#carrossel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#poster01{
    width: 85vw;
}
.vidro{
    z-index: 2;
    position: fixed;
    background: linear-gradient(180deg, rgba(75, 26, 130, 0.675) 0%, rgba(168, 4, 193, 0.75) 100%);
    backdrop-filter: blur(2px);
}
